* {
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;

}

#header_section {
    background-color: #000000;
    text-align: center;
}

header h1 {
    color: #FF5E19;
    font-family: cursive;
    padding-top: 128px;
    font-weight: 400;
    font-size: 56px;
    line-height: 94px;
    margin-bottom: 28px;
}

header p {
    max-width: 1180px;
    /*  mone rekho max-width */
    color: #ffffff;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.02em;
    padding-bottom: 100px;
    font-family: sans-serif;
}

/* heaer is end-----------------------------------------------  */

main {
    background-color: #151515;
}

#main_section {
    display: flex;
    max-width: 1220px;
    margin: 0 auto;
}

#select_player {
    width: 70%;
}

#calculate_section {
    width: 25%;
}

#select_player .card_group {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    padding-top: 70px;
    padding-bottom: 120px;
}

.card {
    margin-top: 20px;
    color: #ffffff;
    border: 1px solid #434343;
    text-align: center;
    background-color: #000000;

}

.card h4 {
    margin-top: 15px;
}

button {
    color: #ffffff;
    background: #015196;
    font-size: 16px;
    font-weight: 700;
    border: none;
    margin: 20px;
    line-height: 22px;
    padding: 8px 70px;
    border-radius: 2px;
}

#last_hr {
    border: 0.5px solid #717171;
}

footer p {
    color: #ffffff;
    background-color: #151515;
    text-align: center;
    padding: 55px;
}

/* -------------------player section End---------------------- */
.calculate_card {
    color: #ffffff;
    text-align: center;
    margin-top: 90px;
    border: 1px solid #434343;
    background-color: #000000;
}

.calculate_card h3 {
    font-size: 24px;
    margin-top: 15px;
}

.calculate_hr {
    width: 75%;
    border: 5px solid #ff5e19b2;
    margin: 10px auto 20px;
    border-radius: 30%;
}

#selected_container {
    font-size: 20px;
    text-align: start;
    padding-left: 80px;
    padding-bottom: 30px;
}

#selected_container li {
    line-height: 30px;
}

.calculate_card2 {
    font-size: 19px;
    line-height: 22px;
    /* identical to box height */


    color: #AFAFAF;
    /* color: #ffffff; */
    text-align: center;
    margin-top: 90px;
    border: 1px solid #434343;
    background-color: #000000;
    padding: 30px 0;

}

.calculate_card2 h3 {
    color: #ffffff;
}

.calculate_card2 h4 {
    font-size: 18px;
    color: #ffffff;
}

#per_player_field,
#manager_field,
#coach_field {
    width: 40%;
    color: #ffffff;
    background: #000000;
    border: 1px solid #717171;
    padding: 3px;
    font-size: 18px;
}

#coach_field {
    padding-left: 20px;
}

#btn_calculate_total {
    line-height: 22px;
    padding: 8px 50px;
    /* display: none; */
}

#total_expense_element,
.color {
    color: #FF5E19;
}